* {
	box-sizing: border-box;
}

body {
	
	background-image: url(../images/swirl_pattern.png);
	background-position: 50px;
	/*position:relative;*/
	/*background-repeat: repeat-y;*/

	/*background-color: beige;*/
}

.header {

	height:100px;
	width:100%;

	/*position:relative;
	top:0;
	left:0;*/
	background-color: #ffffff;
	margin-bottom: 20px;
	border-bottom: 3px solid #cccccc;
	left:0;
	top:0;


	position:absolute;


	


}



.name {
	
	background-color: #4aaaa5;
	float:left;
	height:97.5px;
	margin-left: 160px;
	font-size: xx-large;
	padding-top: 30px;
	padding-left: 30px;
	padding-right:30px;
	color:white;
	font-weight: bold;



	/*
	width:250px;
	height: 50px;
	*/
	


	/*

	color:white;
	
	top:0;
	*/

	/*
	font-style: bold;
	width: 250px;
	color: white;
	margin-left: 20px;
	*/

}

.menu {
	/*background-color: grey;*/
	float:right;
	border: 1px;
	/*border-color: black;*/
	/*border-style: solid;*/
	/*background-color: pink;*/
	width: 270px;
	margin-right: 240px;

	font-size: 21px;

	margin-top: 28px;
	color: #777777;
	line-height: 28px;

}

ul {
	list-style-type: none;
	margin: 0px;
	padding:0px;
}

li {
	display: inline;
	font-family: arial;
	margin: 3px;
}

a {
	text-decoration: none;
	color: #777777;
}

.mid {
	/*clear:both;*/
	position: absolute;
	top:100px;
	left:0px;
	margin-top:40px;
	width:100%;
	/*background-color: orange;*/
}

h1 {
	/*float:left: */
	margin-left: 30px;
	color:#4aaaa5;
	width:590px;
	/*background-color: purple;*/
	border-bottom: 3px solid #dddddd;
	padding-bottom: 30px;
	}

p {
	margin-left: 30px;
	margin-bottom: 30px;
	width:590px;

}

.content {
	background-color: #ffffff;
	width:650px;
	margin-left:160px;
	float:left;
	border:2px solid #dddddd;
}


.profile {
	/*margin-bottom: .75px;*/
	/*margin-right: 5px;*/
	padding-right: 20px;
	padding-bottom: 5px;
}

.social{
	background-color: #ffffff;
	width:270px;
	float: right;
	margin-right: 240px;
	padding: 32.5px 32.5px 32.5px 32.5px;
	border: 2px solid #dddddd;
}

h2 {
	/*margin-left: 32.5px;*/
	/*margin-right:32.5px;*/
	width:205px;
	height: 45px;
	color:#4aaaa5;
	border-bottom: 1.5px solid #dddddd;
	margin-top: 0px;

}

.small {
	width: 60px;
	height: 60px;
}

.small-margin {
	width: 60px;
	height: 60px;
	margin-left: 6.5px;
}



.contact-form {	
	margin-left: 30px;
	margin-bottom: 30px;
	width:590px;
	color: #777777;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

.text-box{
	width:590px;
	height: 30px;
	margin-top: 5px;
	color: #777777;
	margin-bottom: 7px;
}

.msg-box {
	width:590px;
	height:270px;
	margin-top: 5px;
	color: #777777;

}

.btn {
	background-color: #4aaaa5;
	color: #ffffff;
	border:none;
	width: 98px;
	height:35px;
	margin-top: 20px;
}



.footer {
	/*
	
	width: 100%;

	*/
	clear:both;
	background-color: #666666;
	color: #777777;
	border-top: 10px solid #4aaaa5;
	height: 92px;
	text-align: center;
	padding: 30px;
		
	
	position: absolute;
	right:0;
	bottom:0;
	left:0;
	
}
